body{
    padding: 0%;
    margin:10px 5px 0 0;
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
justify-content: center;
text-align: center;
margin: 0, auto;

}
.inicio{
    display: flex;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    
}
.titulo__div{
    display: flex;
    height: 100px;
    width: calc(100% - 15vh );
    border-radius: 20px;
    align-items: center;
}

.inicio__foto{
    display: flex;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
}

.inicio__titulo {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 36ch;
    color:#444444;
    font-size: 20px;

    animation: typing 3s steps(36), blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing {
    from{ width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

