*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    width: 90%;
justify-content: center;
text-align: center;
margin:auto;

}
.inicio{
    display: flex;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    
}
.titulo__div{
    display: flex;
    height: 100px;
    width: calc(100% - 15vh );
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
}

.inicio__foto{
    display: flex;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
}

.inicio__titulo {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 36ch;
    color:#444444;
    font-size: 20px;

    animation: typing 5s steps(24) infinite, blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing {
from{ width: 0;}

}

@keyframes blink {
    30% {border-color: transparent;}
}

.inicio__p{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 36ch;
    color:#444444;
    font-size: 20px;

    animation: typing 5s steps(13) infinite, blink .5s infinite step-end alternate ;
    overflow: hidden;
}
